---
import Layout from "../../layouts/Layout.astro";
import { getPosts } from "../../data/get-posts";

export async function getStaticPaths() {
	const posts = await getPosts();
	return posts.map(
		({
			title,
			content,
			summary,
			date,
			cover,
			coverAlt,
			socialImage,
			slug,
		}) => ({
			params: { slug },
			props: {
				meta: {
					title,
					socialImage,
					summary,
					currentUrl: "",
				},
				title,
				content,
				date,
				cover,
				coverAlt,
			},
		})
	);
}

const { title, content, date, cover, coverAlt, meta } = Astro.props;
---

<Layout {title}>
	<div class="wrapper flow">
		{
			cover && (
				<div class="cover-image">
					<img
						src={cover}
						alt={coverAlt || ""}
						width="1300"
						height="500"
						loading="lazy"
					/>
				</div>
			)
		}

		<div class="region">
			<h2>{title}</h2>
			<time datetime={date}>{date}</time>
		</div>

		<Fragment set:html={content} />
	</div>
</Layout>
