---
import Layout from "../../layouts/BlogLayout.astro";
import { getPosts } from "../../data/get-posts";
const posts = await getPosts();
---

<Layout title="Astro excelent • Posts" current={true}>
	<div class="site-head wrapper">
		<h1>Blog posts</h1>
	</div>

	<section class="wrapper flow flow-space-xl">
		{
			posts.map((post: any) => (
				<article>
					<div class="flow flow-space-s-m">
						<h2>
							<a href={post.permalink}>{post.title}</a>
						</h2>
						<time datetime={post.date}>{post.date}</time>

						<p>
							{post.summary ? (
								<Fragment set:html={post.summary} />
							) : null}
						</p>
					</div>
				</article>
			))
		}
	</section>
</Layout>
