---
import Layout from "../../layouts/BlogLayout.astro";
import { getPosts } from "../../data/get-posts";
const posts = await getPosts();
const permaLink = `${import.meta.env.PERMALINK}/posts`;
---

<Layout title="Posts" current={true}>
	<div class="wrapper region">
		<h1>Astro excelent</h1>
	</div>

	<div class="wrapper flow flow-space-xl">
		<h2>Blog posts</h2>
		{
			posts.map((post: any) => (
				<article>
					<h3>
						<a href={`${permaLink}/${post.slug}`}>{post.title}</a>
					</h3>
					<div />
				</article>
			))
		}
	</div>
</Layout>
