---
import Layout from "../layouts/Layout.astro";
import Card from "../components/Card.astro";
import Counter from "../components/Counter.jsx";
import { getPosts } from "../data/get-posts";
import { getProjects } from "../data/get-projects";

const posts = await getPosts();
const projects = await getProjects();
---

<Layout title="Astro excelent">
	<div class="wrapper flow">
		<p class="instructions">
			To get started, open the directory <code>src/pages</code> in your project.
			<br />
			<strong>Code Challenge:</strong> Tweak the "Welcome to Astro" message
			above.
		</p>
		<div>
			<Counter client:idle />
		</div>

		<section class="posts section">
			<h2>Posts</h2>
			<ul role="list" class="wrapper flow flow-space-xl">
				{
					posts.slice(0, 4).map((post: any) => (
						<li>
							<div class="flow flow-space-s-m">
								<h3>
									<a href={post.permalink}>{post.title}</a>
								</h3>
								<time datetime={post.date}>{post.date}</time>

								<p>
									{post.summary ? (
										<Fragment set:html={post.summary} />
									) : null}
								</p>
							</div>
						</li>
					))
				}
			</ul>
			<div class="link">
				<a href="/posts">See all posts</a>
			</div>
		</section>

		<section>
			<h2>Projects</h2>
			<ul role="list" class="grid" data-layout="50-50">
				{
					projects.map((project) => (
						<Card
							liveProject={project.liveProject}
							title={project.name}
							body={project.description}
							repo={project.repo}
							cover={project.cover}
							coverAlt={project.coverAlt}
						/>
					))
				}
				<Card
					liveProject="https://astro.build/integrations/"
					title="Integrations"
					body="Supercharge your project with new frameworks and libraries."
					repo=""
				/>
				<!--
				<Card
					href="https://astro.build/themes/"
					title="Themes"
					body="Explore a galaxy of community-built starter themes."
				/>
				<Card
					href="https://astro.build/chat/"
					title="Community"
					body="Come say hi to our amazing Discord community. ❤️"
				/> -->
			</ul>
		</section>
	</div>
</Layout>
