---
import Layout from "../layouts/Layout.astro";
import hero from "../data/hero.json";
import home from "../data/home.json";
import { testimonials } from "../data/testimonials.json";
import languages from "../data/languages.json";

import Marquee from "../components/Marquee.jsx";
import AnimationControl from "../components/AnimationControl.jsx";

const projects = [];
---

<Layout title="Polyglot plus" current="home">
	<div class="pre-head wrapper">
		<AnimationControl client:idle />
		<Marquee>
			{
				languages.langs.map((item) => (
					<div>
						<span class="text-tertiary" data-font="large">{item.value}</span>
					</div>
				))
			}
		</Marquee>
	</div>
	<section class="section bg-primary text-light">
		<div class="wrapper flow">
			<div class="region">
				<h2>{hero.header}</h2>
			</div>
			<div class="grid" data-layout="50-50">
				<div class="flow flow-space-500">
					<p>
						{hero.info}
					</p>
	
					<a href={hero.courseLink} class="button">
						Assinar o Polyglot plus agora
					</a>
				</div>
				<div class="cover-image">
					<img data-drop-shadow="" src="/images/hero-image.jpg" alt="">
				</div>
			</div>
		</div>
	</section>

	<section class="section">
		<div class="wrapper">
			<div class="region">
				<h2 class="text-primary">{home.tips.header}</h2>
			</div>

			<ul class="styled-list flow flow-space-sm">
				{
					home.tips.tips.map((tip) => (
						<li>
							{" "}
							<strong>{tip}</strong>
						</li>
					))
				}
			</ul>
		</div>
	</section>

	<section class="section bg-tertiary">
		<div class="wrapper">
			<div class="region">
				<h2>Depoimentos</h2>
			</div>

			<ul
				role="list"
				data-layout="50-50"
				data-rows="masonry"
				class="grid"
			>
				{
					testimonials.map(
						({ testimonial, twitter, name, profession, photo }) => (
							<li class="card">
								<figure>
									<img src={`/images/` + photo} alt="">
								</figure>
								<blockquote>
									<p>{testimonial}</p>
									<p>
										{name} • {profession}
									</p>
								</blockquote>
							</li>
						)
					)
				}
			</ul>
		</div>
	</section>

	<section class="section">
		<div class="wrapper">
			<div class="region">
				<h2>O que oferecemos para você</h2>
			</div>

			<ul
				role="list"
				data-layout="50-50"
				data-rows="masonry"
				class="grid"
			>
				{
					home.offers.map(
						({title, content }) => (
							<li class="card bg-primary text-light">
								<article class="flow flow-space-m">
									<h3>{title}</h3>
									<p>
										{content}
									</p>
								</article>
							</li>
						)
					)
				}
			</ul>

		</div>
	</section>
</Layout>
