---
export interface Props {
	title: string;
	body: string;
	liveProject: string;
	cover?: string;
	coverAlt?: string;
	repo: string;
}

const { liveProject, title, body, cover, coverAlt, repo } = Astro.props;
---

<li class="card">
	{
		cover && (
			<div class="card__image">
				<img
					src={cover}
					loading="lazy"
					alt={coverAlt || ""}
					width="300"
					height="400"
				/>
			</div>
		)
	}
	<div class="card__content">
		<h3>
			{title}
		</h3>
		<p>
			{body}
		</p>
		<div>
			{
				liveProject ? (
					<a class="button" href={liveProject}>
						Live project
					</a>
				) : null
			}
			{
				repo ? (
					<a class="button" data-variant="ghost" href={repo}>
						Repo
					</a>
				) : null
			}
		</div>
	</div>
</li>
