---
export interface Props {
	title: string;
	body: string;
	liveProject: string;
	cover?: string;
	coverAlt?: string;
	repo: string;
}

const { liveProject, title, body, cover, coverAlt, repo } = Astro.props;
---

<li class="card">
	<div class="flow flow-space-m">
		<div class="heading">
			{
				cover && (
					<img
						src={cover}
						loading="lazy"
						alt={coverAlt || ""}
						width="150"
						height="150"
					/>
				)
			}
			<h3>
				{title}
			</h3>
		</div>
		<p>
			{body}
		</p>
			{
				liveProject ? (
					<a class="button" href={liveProject}>
						Live project
					</a>
				) : null
			}
			{
				repo ? (
					<a class="button" data-variant="ghost" href={repo}>
						Repo
					</a>
				) : null
			}
	</div>
</li>
